<%- include("partials/header") -%>
<h1>About</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat ut nobis, veniam a illum fugit praesentium provident dignissimos deleniti officia, tempora, id voluptates aperiam quia molestiae eligendi pariatur exercitationem sequi?</p>
<%- include("partials/footer") -%>