<%- include("partials/header") -%>
<h1>Contact</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam tenetur, ratione illo aliquam, quisquam vitae nulla dicta, qui nobis ducimus molestias animi quidem? Odio suscipit incidunt illum quae voluptate aliquam.</p>
<%- include("partials/footer") -%>